@import "swiper/css";
@import "swiper/css/effect-cards";
@import "swiper/css/navigation";
@import "tailwindcss";


body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
 
}

