@import "swiper/css";
@import "swiper/css/effect-cards";
@import "swiper/css/navigation";
@import "tailwindcss";


body {
    background: #f5f1ea;
 
}
* {
  overflow-anchor: none;
}

.carousel-grid{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
    overflow:hidden
}
.large-div{
    grid-row: span 2;
    position:relative;
    overflow:hidden;
    border-radius: 20px;
}
.small-div{
    position:relative;
    overflow:hidden;
    border-radius: 20px;
}

.nav-btn {
  outline: none;
}

.nav-btn:focus {
  outline: none;
}