@import "swiper/css";
@import "swiper/css/effect-cards";
@import "swiper/css/navigation";
@import "tailwindcss";


body {
    background: #f5f1ea;
 margin:0;
 padding:0;
}
* {
  overflow-anchor: none;
}

.carousel-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2,280px);
   gap:16px;
   width: 100%;
   max-width: 1200px;
  margin: 0 auto;
}
.large-div{
  grid-column: span 2;
    grid-row: span 2;
    position:relative;
    overflow:hidden;
   border:24px;
}
.small-div{
    grid-column: span 1;
    grid-row: span 1;
    position: relative;
    overflow:hidden;
}

.nav-btn {
  outline: none;
}

.nav-btn:focus {
  outline: none;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

.animate-fadeUp {
 animation: fadeUp 8s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}
.carousel-wrapper {
    height: 70vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.main-stage {
    width: 80%;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.featured-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details-container {
  overflow-anchor: none; /* Ya fir 'auto' try karke dekho browser compatibility ke hisaab se */
}