@import "swiper/css";
@import "swiper/css/effect-cards";
@import "swiper/css/navigation";
@import "tailwindcss";


body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
 
}

.carousel-grid{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:20px;
    overflow:hidden
}
.large-div{
    grid-row: span 2;
    position:relative;
    overflow:hidden;
    border-radius: 20px;
}
.small-div{
    position:relative;
    overflow:hidden;
    border-radius: 20px;
}